body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-form {
  text-align: center;
  margin-top: 50px;
}

.breed-select {
  padding: 10px;
  font-size: 16px;
}

.loader {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.error {
  display: none;
  color: red;
  text-align: center;
}

.cat-info {
  display: none;

  margin-top: 20px;
  text-align: center;
}

.cat-info img {
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}
/* .text {
  color: blueviolet;
} */
